@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

* {
    padding: 0px;
    margin: 0;
    box-sizing: none;
    list-style: none;
    text-decoration: none;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
}


/* Header */

header {   
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header .logo {
    width: 10%;
}

/* Navegação */

header .nav_header ul { 
    display: flex;
    gap: 30px;
    align-items: center;
    color: #332C39;
    font-family: 'Poppins';
}


header .nav_header li a {       
        width: 0px;
        height: 0px;
        color: #332C39;
        font-size: 1.3rem;   
}

header .nav_header li a::after {
    content: '';
    width: 0px;
    height: 0px;
    border-bottom: 4px solid transparent;
    display: block;
    transition: .9s ;
}

header a:active {  
  color: #C92C6D;  
}



/* Seção das imagens */

.wide-image {
    display: block;
    width: 100%;
  }
  
  .wide-image img {
    display: block;
    width: 100%;
    transition: filter 0.3s ease;
  }
  
  .wide-image:hover img {
    filter: brightness(90%);
  }
  
  .wide-image:hover {
    background-color: #609EA2;
  }

  /*Footer*/
  footer {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
    font-family: 'Poppins';
  }
  
  .footer-text {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .footer-links {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .footer-links a {
    color: #555;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  .footer-copyright {
    font-size: 12px;
    color: #888;
  }

 /*Botões Sociais Foooter*/
 .social-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .social-list li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-list li:last-child {
    margin-right: 0;
  }


  .social-list li a {
    display: inline-block;
    padding: 5px;
    background-color: #fff;   
    transition: background-color 0.3s ease;
  }

  
  .social-list li a:hover {
    background-color: #FFFF00;
  }

  .social-list li a img {
    width: 30px;
    height: 30px;
  }

/*Galeria*/
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  
  .image img {
    width: 100%;
    height: auto;
  }
  
  .image:hover {
    transform: scale(1.1);
  }

  
  main {
    background-color: #f8f8f8;
    padding: 40px;    
    font-family: 'Poppins';
  }
  
 .container {
    max-width: 600px;
    margin: 0 auto;

  }
  
  .container h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .container p {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
    text-align: center;
  }
  
  
/* Seção Sobre Mim */


.about-me {
  padding: 40px;
  background-color: #f8f8f8;
  padding: 40px;    
  font-family: 'Poppins';
}

.tit-ab {
  font-size: 42px;
  padding: 10px;
  color: #333; 
  text-align: center;
  margin-bottom: 20px;
}

  /*CARD AB*/
  .card-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;  
  }

      .card {
        width: 300px;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 20px;
        text-align: center;
      }
      
      .card img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin: 0 auto 20px;
      }
      
      .card h2 {
        font-size: 24px;
        margin-bottom: 5px;
      }
      
      .card p {
        font-size: 16px;
        color: #555;
        margin-bottom: 10px;
      }
      
      .social-links {
        list-style-type: none;
        padding: 0;
        margin-top: 20px;
      }
      
      .social-links li {
        display: inline-block;
        margin-right: 10px;
      }
      
      .social-links a {
        color: #609EA2;
        font-size: 24px;
      }

      .social-links li a:hover {
        color: #609EA2;
      }
      
      .social-links li a:hover i {
        transform: scale(1.2);
      }
      


.ab-container2 {
  display: flex;
  padding: 10px;
}


.column {
  width: 45%;
  padding: 80px;
  background-color: #f8f8f8;
}

.ab-h2{
  font-size: 24px;
  color: #333;  
}

.ab-h3 {
  text-align: center;
  font-size: 32px;
  color: #333;  
}

.ab-h4 {
  padding: 10px;
  text-align: left;
  font-size: 21px;
  color: #fff;  
  margin: 20px 0;
  background-color: #C92C6D;

}

.ab-p {
  text-align: center;
  font-size: 18px;
  color: #333;
  margin-bottom: 50px;
}

.interesses {
  text-align: left;
  font-size: 24px;
  color: #333;
  margin-bottom: 50px;
}


/*BARRA DE PROGRESSO*/

.skill-bars {  
  width: 350px; 
}

.skill-bars .bar {
  margin: 20px 0;
}

.skill-bars .bar:first-child {
  margin-top: 0px;
}

.skill-bars .bar .info {
  margin-bottom: 5px;
}

.skill-bars .bar .info span {
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}

@keyframes showText {
  100% {
    opacity: 1;
  }
}

.skill-bars .bar .progress-line {
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05),
    0 1px rgba(255, 255, 255, 0.8);
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.bar .progress-line span {
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #609EA2;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line.html span {
  width: 75%;
}

.bar .progress-line.design span {
  width: 80%;
}

.bar .progress-line.javascript span {
  width: 50%;
}

.bar .progress-line.elementor span {
  width: 80%;
}

.bar .progress-line.rd span {
  width: 50%;
}

.progress-line span::before {
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}

.progress-line span::after {
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 4px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}

@keyframes showText2 {
  100% {
    opacity: 1;
  }
}

.progress-line.html span::after {
  content: "75%";
}

.progress-line.design span::after {
  content: "80%";
}

.progress-line.javascript span::after {
  content: "50%";
}

.progress-line.elementor span::after {
  content: "80%";
}

.progress-line.rd span::after {
  content: "55%";
}


/* Coming soon */

@keyframes sway {
  0% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(8deg);
  }
}

.gd-content {
  font-family: "Poppins";
}

.gd-object {
  position: absolute;
  animation: sway 2.4s infinite;
  animation-timing-function: ease-in-out;
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  transform-origin: top;
  left: 0;
  right: 0;
  height: 5%;
  z-index: 999;
  text-transform: uppercase;
 
}

.gd-object-shape {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  background-color: #2187C7;
  margin: 0 auto;
  position: relative;
  color: #fff;
  text-align: center;
  padding-top: 25px;
  font-weight: 800;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.gd-object-shape span {
  font-size: 22px;
  color:white;
}

.gd-object-rope {
  height: 100%;
  width: 5px;
  background-color: #2187C7;
  content: "";
  display: block;
  margin-left: 50%;
}

.gd-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 500px;
  padding: 35vh 20px 20px 20px
}

.gd-logo {
  max-width: 300px;

}


.message {
  margin-top: 100px;

}

/* Responsivos */

/* Estilos para telas pequenas (até 600px) */
@media (max-width: 700px) {
 

} 

/* Estilos para telas médias (601px a 900px) */
@media (min-width: 601px) and (max-width: 900px) {
}

/* Estilos para telas grandes (mais de 900px) */
@media (min-width: 901px) {
  /* Adicione aqui os estilos específicos para telas grandes */
}

